#vcenter {
  vertical-align: middle;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

#title-slide .title {
  font-size: 2em;
  <!-- color: #b22222; -->
}

.GHI {
  /* font-family: Arial; */
  /* color:       #1a9850; */
  color:       #136f39;
  font-weight: bold;
}

.DNI {
  /* font-family: Arial; */
  color:       #0000a5;
  font-weight: bold;
}

.CSid {
  /* font-family: Arial; */
  color:       #862507;
  font-weight: bold;
}

.QCrad {
  /* font-family: Arial; */
  color:       #14149e;
  font-weight: bold;
}


.CE {
  /* font-family: Arial; */
  /* background-color: grey; */
  text-decoration: underline #1a9850;
  color:           #b00821;
  font-weight:     bold;
}

.ECE {
  /* font-family: Arial; */
  /* background-color: grey; */
  text-decoration: underline #1a9850;
  color:           #ff00ff;
  font-weight:     bold;
}


.figure {
  margin:     auto;
  text-align: center;
}

.caption{
  text-align: center;
}


h4 {
  text-align:center;
}

h3 {
  text-align:center;
}

h2 {
  text-align:center;
}

h1 {
  text-align:center;
}

.test-background {
    background-color: #447099   !important;
    data-background-color: #f00 !important;
}

.trend-bg {
}

.enh-bg {
}

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}


/* Κάνει το r-stretch να γεμίζει όλο το slide */
.reveal .r-stretch {
    width:   95%;          /* σχεδόν full width */
    height:  90vh;        /* 90% του viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal .r-stretch table {
    font-size:    0.4em;    /* μικρύνει αν χρειάζεται */
    width:        100%;
    table-layout: auto;  /* κρατάει σταθερές στήλες */
    border-collapse: collapse;
}

.reveal .r-frame {
    padding:    0.5em;
    border:     none;
    box-shadow: none;
    padding:    0;
}

/* Optional: λίγο padding για readability */
.reveal .r-stretch td,
.reveal .r-stretch th {
    padding: 0.2em 0.5em;
}

.reveal .two-col ul {
  column-count: 2;
  column-gap: 1.5rem;
}


.reveal .two-col li {
  break-inside: avoid;
}

.reveal .two-col {
  line-height: 1.15;
}

.reveal .tiny {
  font-size: 0.6em;
#vcenter {
  vertical-align: middle;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

#title-slide .title {
  font-size: 2em;
  <!-- color: #b22222; -->
}

.GHI {
  /* font-family: Arial; */
  /* color:       #1a9850; */
  color:       #136f39;
  font-weight: bold;
}

.DNI {
  /* font-family: Arial; */
  color:       #0000a5;
  font-weight: bold;
}

.CSid {
  /* font-family: Arial; */
  color:       #862507;
  font-weight: bold;
}

.QCrad {
  /* font-family: Arial; */
  color:       #14149e;
  font-weight: bold;
}


.CE {
  /* font-family: Arial; */
  /* background-color: grey; */
  text-decoration: underline #1a9850;
  color:           #b00821;
  font-weight:     bold;
}

.ECE {
  /* font-family: Arial; */
  /* background-color: grey; */
  text-decoration: underline #1a9850;
  color:           #ff00ff;
  font-weight:     bold;
}


.figure {
  margin:     auto;
  text-align: center;
}

.caption{
  text-align: center;
}


h4 {
  text-align:center;
}

h3 {
  text-align:center;
}

h2 {
  text-align:center;
}

h1 {
  text-align:center;
}

.test-background {
    background-color: #447099   !important;
    data-background-color: #f00 !important;
}

.trend-bg {
}

.enh-bg {
}

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}


/* Κάνει το r-stretch να γεμίζει όλο το slide */
.reveal .r-stretch {
    width:   95%;          /* σχεδόν full width */
    height:  90vh;        /* 90% του viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal .r-stretch table {
    font-size:    0.4em;    /* μικρύνει αν χρειάζεται */
    width:        100%;
    table-layout: auto;  /* κρατάει σταθερές στήλες */
    border-collapse: collapse;
}

.reveal .r-frame {
    padding:    0.5em;
    border:     none;
    box-shadow: none;
    padding:    0;
}

/* Optional: λίγο padding για readability */
.reveal .r-stretch td,
.reveal .r-stretch th {
    padding: 0.2em 0.5em;
}


.reveal .two-col ul {
  column-count: 2;
  column-gap: 4rem;
  column-fill: balance;
}


.reveal .two-col li {
  break-inside: avoid;
}

.reveal .two-col {
  line-height: 1.15;
}

.reveal .tiny {
  font-size: 0.6em;
}

.reveal .img-fit {
  height:      65vh;              /* leave room for title + footer */
  display:     flex;
  align-items: center;
  justify-content: center;
}

.reveal .img-fit img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;       /* never crop */
}

