/*-- scss:defaults --*/

/* https://quarto.org/docs/presentations/revealjs/themes.html */

/* $body-bg:    #191919; */
/* $body-color: #101010; */
/* $link-color: #42affa; */

$presentation-h1-font-size: 2em;

$presentation-h2-font-size: 1.2em;

/*-- scss:rules --*/


.grey {
  color: #00000055;
}

.reveal .slide-logo {
  height: 60px !important;
  width:  60px !important;
  max-width:  unset !important;
  max-height: unset !important;
}
